<!DOCTYPE html>
<html>
<title>Guhaar</title>
{% load static %}
<link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="guhaar.com, guhaar, guhaar delhi, narmda bachao andolan, nba" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static '/css/master.min.css' %}" type="text/css">
  {% block head %}

  {% endblock head %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="logo">
            <a class="navbar-brand" href="{% url 'home_view' %}"><img class="img-responsive" src="{% static '/images/favicon.ico' %}" alt="GUHAAR image"><span>GUHAAR</span></a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="navbar">
          <div class="icons">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.facebook.com/guhaar/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.twitter.com/guhaarindia/" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/guhaarindia/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UC23pDSpsYQmK1K0JPYMIEkg" target="_blank"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
          <div class="menu">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'home_view' %}">Home</a></li>
              <li><a href="{% url 'projects_view' %}">Projects</a></li>
              <li class="donate"><a href="">Donate</a></li>
              <li><a href="{% url 'aboutus_view' %}">About Us</a></li>
              <li><a href="{% url 'contactus_view' %}">Contact Us</a></li>
          </ul>
        </div>

          <!--<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>-->

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  {% block body %}

  {% endblock body %}
  <footer class="container">
      <div>
        <h4>About Us</h4>
        <p>Guhaar is an organisation which provides media consultancy to movements, protests and other social issues. <br> It is an organisation for people of urban and rural India which provides a platform to raise voice against injustice and inequality.</p>
      </div>
      <div>
        <h4>Contact Us</h4>
          <p>
            Email      : contactguhaar@gmail.com <br>
            Mobile : 097736 54260 <br> <br>
            Himanshu Vila , House no, 91, Gali no, 13, <br> Ramgarh colony, Ram Garh Colony
            <br>
             Basai Dara pur, Ramesh Nagar, Delhi, 110015, India
          </p>
      </div>
      <div>
          <ul>
            <h4>Navigation</h4>
            <li><a href="{% url 'home_view' %}">Home</a></li>
            <li><a href="{% url 'projects_view' %}">Projects</a></li>
            <li class="donate"><a href="#">Donate</a></li>
            <li><a href="{% url 'aboutus_view' %}">About Us</a></li>
            <li><a href="{% url 'contactus_view' %}">Contact Us</a></li>
          </ul>
      </div>
      <div class="subscribe text-center">
          <input type="email" placeholder="Email" id="email">
          <input type="button" name="subscribe" value="subscribe">
          <br><br>
          <span>&copy; {% now "Y" %}. All Rights Reserved</span>
          <br>
          <span>Guhaar</span>
      </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block scripts %}
  {% endblock scripts %}
</html>
