<!DOCTYPE html>
<html>
<title>Guhaar</title>
{% load static %}
<head>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" />
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="utf-8" http-equiv="encoding">
  <meta name="keywords" content="guhaar.com, guhaar, guhaar delhi, narmda bachao andolan, nba" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static '/css/master.min.css' %}" type="text/css">
  {% block head %}

  {% endblock head %}
</head>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="logo">
            <a class="navbar-brand" href="{% url 'home_view' %}"><img class="img-responsive" src="{% static '/images/logo.png' %}" alt="GUHAAR image"><h6>आवाम की आवाज़</h6></a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="navbar">
          <div class="menu">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'home_view' %}">Home</a></li>
              <li><a href="{% url 'projects_view' %}">Projects</a></li>
              <li class="donate"><a href="https://www.ketto.org/fundraiser/guhaarindia/" target="_blank">Donate</a></li>
              <li><a href="{% url 'aboutus_view' %}">About Us</a></li>
              <li><a href="{% url 'contactus_view' %}">Contact Us</a></li>
          </ul>
        </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <body>
      <div class="icons">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/guhaar/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.twitter.com/guhaarindia/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/guhaarindia/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC23pDSpsYQmK1K0JPYMIEkg" target="_blank"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
      <div id="donation-banner" class="banner">
        <div>
          <div class="close_modal">
            <span>X</span>
          </div>
          <h4>Guhaar needs your support</h4>
          <a href="https://www.ketto.org/fundraiser/guhaarindia/" target="_blank">Donate Now</a>
        </div>
      </div>
  {% block body %}

  {% endblock body %}
</body>
  <footer class="container">
      <div>
        <h4>Contact Us</h4>
        <p>
          Email      : contactguhaar@gmail.com <br>
          Mobile : 097736 54260 <br> <br>
          Himanshu Vila , House no, 91, Gali no, 13, <br> Ramgarh colony, Ram Garh Colony
          <br>
          Basai Dara pur, Ramesh Nagar, Delhi, 110015, India
        </p>
      </div>
      <div>
          <ul>
            <h4>Navigation</h4>
            <li><a href="{% url 'home_view' %}">Home</a></li>
            <li><a href="{% url 'projects_view' %}">Projects</a></li>
            <li class="donate"><a href="#">Donate</a></li>
            <li><a href="{% url 'aboutus_view' %}">About Us</a></li>
            <li><a href="{% url 'contactus_view' %}">Contact Us</a></li>
          </ul>
      </div>
      <div>
        <ul>
          <h4>Issues</h4>
          <li><a href="{% url 'home_view' %}">Issue1</a></li>
          <li><a href="{% url 'projects_view' %}">Issue2</a></li>
          <li class="donate"><a href="#">Issue3</a></li>
          <li><a href="{% url 'aboutus_view' %}">Issue4</a></li>
          <li><a href="{% url 'contactus_view' %}">Issue5</a></li>
        </ul>
      </div>
      <div class="subscribe text-center">
        {% csrf_token %}
          <input type="email" placeholder="Email" id="email">
          <input type="button" name="subscribe" value="subscribe" id="subscribe-me">
          <br><br>
          <span>&copy; {% now "Y" %}. All Rights Reserved</span>
          <br>
          <span>Guhaar</span>
      </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static '/js/notify.min.js'%}"></script>
  {% block scripts %}
  {% endblock scripts %}
</html>
