[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2017.11.5"
chardet = "==3.0.4"
cloudinary = "==1.9.0"
dj-database-url = "==0.4.2"
django-ckeditor = "==5.5.0"
django-js-asset = "==1.1.0"
gunicorn = "==19.7.1"
idna = "==2.6"
mock = "==2.0.0"
olefile = "==0.44"
pbr = "==4.0.2"
"psycopg2" = "==2.7.3.2"
python-dateutil = "==2.6.1"
pytz = "==2017.3"
pyuploadcare = "==2.2.1"
requests = "==2.18.4"
six = "==1.11.0"
south = "==1.0.2"
"urllib3" = "==1.22"
whitenoise = "==3.3.1"
Django = "==1.11.7"
Pillow = "==8.2.0"

[dev-packages]

[requires]
python_version = "3.6"
