<!DOCTYPE html>
<html>
  {% extends "base.html" %}

  {% block body %}
  {% load cloudinary %}
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/team.min.css' %}" type="text/css">
    <body>
      <div class="container team_body">
        <div class="text-center about_team">
          <div>
            <h1>Who Are We</h1>
          </div>
          {% for team in team %}
          <ul>

            {{team.description | linebreaks}}
          </ul>

          <h3>BELIEFS</h3>
          <ul>
            <li>Poor and downtrodden has as much of a right to be heard as the
            privileged.</li>
            <li>Journalism should be inclusive and non-monetary which do not
            eliminate the poorer section of the society.</li>
            <li>Being 70 percent of the total population in India, the rural
            population deserves much more than present 5 percent media
            coverage.</li>
            <li>Developing the culture of asking questions.</li>
            <li>Creating a bridge between affected and non-affected mass.</li>
          </ul>

          <h3>WORKSPACE</h3>
          <p>
            Here's what has tentatively been included in the work-space of the Guhaar.
            We will keep adding according to our needs and as the organisation grows.
          </p>
          <ul>
            <li>
              To provide media consultancy to the movements. In order to implement, an
              introductory article and a documentary will be made about the whole issue
              and the events which happened in the affected areas so as to give an idea
              about the problems to the general public. Then a regular update will be
              done on the website to give people all the necessary real, transparent
              information regarding the on-going issues. The localities will also be aware
              about the value and importance of social media, parallel to the ground level
              fight.
            </li>
            <li>
              The RTI wing of Guhaar will collect the data regarding the issues concerned
              which need to be focused. In this way, a reliable information and data will
              be collected
              which will be presented further.
            </li>
            <li>
              A letter writing wing will write the letters to various officials to make them
              aware of the issues concerned, the present scenario of the locality and to
              give the model of a solution.
            </li>
            <li>
              The fact-finding team will coordinate with the local organisations and people
              to get the reliable information about the issue.
            </li>
            <li>
              A thorough assessment of the most popular and non-popular issues of the
              country will be done and critical reviews and the reality will be presented to
              people through our portal. The regular updates will also be given on our
              portal.
            </li>
          </ul>
          <br>
          <p>
            Guhaar is working with various local organisations, national level organisations
            related to movements and a group of socialists and activists, which are not
            politically inclined, so to get the reliable data and the real picture of the
            situation.
          </p>

          <h3>EXPOSURE</h3>
          <p>
            Guhaar provides an opportunity to young and enthusiastic people,
          </p>
          <ul>
            <li>
              Who have discontent towards the system
            </li>
            <li>
              Who are willing to work for the betterment of the society,
            </li>
            <li>
              Willing to change the conventional definition of government in terms of asking them questions instead of resisting its suppression and also to battle on behalf of those unprivileged, helpless, downtrodden citizens of the India who
              cannot win their fight alone.
            </li>
            <li>
              Along with creating the impact on the society, it is equally necessary to do value
              addition to oneself. In this space, the energetic youth will be provided an
              opportunity to be a part of the change process and to enhance oneself.
            </li>
            <li>
              By being in this space, one will get ample chances to work with the organisations and
              movements working at the grassroots level.
            </li>
            <li>
              The experience one would get working in such organisations will be totally different.
            </li>
            <li>
              One will learn how to manage unorganized groups,
              <ul>
                <li>
                  How to be disciplined
                </li>
                <li>
                  How to address the people
                </li>
                <li>
                  Managing events
                </li>
                <li>
                  Speaking to a variety of people ranging from rural people to renowned activists and government officials,
                </li>
                <li>
                  How it feels working for the social cause
                </li>
                <li>
                  The ground realities and knowing the picture behind the Incredible India.
                </li>
              </ul>
            </li>
          </ul>
          <br>
          <p>
            Besides this, working with Guhaar also gives an enormous
            opportunity to have healthy discussions, understanding the power of journalism
            and to understand the power of RTI. In nutshell, these days all of us have a lot of
            anger towards the system and this space provides one of the ways to channelize our anger towards the change that we can bring in the society.
          </p>
        </div>
        {% endfor %}
      </div>
    </body>
  {% endblock body %}

  {% block scripts %}
      <script src="{% static '/js/project.js'%}"></script>
  {% endblock scripts %}
</html>
