<!DOCTYPE html>
<html>
  {% extends "base.html" %}

  {% block body %}
  {% load cloudinary %}
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/team.min.css' %}" type="text/css">
    <body>
      <div class="container team_body">
        <div class="text-center about_team">
          <div>
            <h1>Who Are We</h1>
          </div>
          {% for team in team %}
          <ul>

            {{team.description | linebreaks}}
          </ul>

          <h3>BELIEFS</h3>
          <ul>
            <li>The poor and downtrodden have as much of a right to be heard as the privileged sections.</li>
            <li>Journalism should be inclusive and not based on financial gains, so that the poorer section of
            the society can make their voices heard.</li>
            <li>Rural population constitutes about 70% of the total Indian population and hence, deserves
            much more than the present 5 percent media coverage.</li>
            <li>Promoting a culture of accountability. Only by asking questions will we get the answers we deserve.</li>
            <li>Acting as a bridge between the downtrodden masses and their better off fellow citizen.</li>
          </ul>

          <h3>WHAT WE DO</h3>
          <p>
            Here's what we have included in our objectives for Guhaar. We will keep adding and improving these as needed.
          </p>
          <ul>
            <li>
              Provide media consultancy services to social movements. For this purpose, an
              introductory article and a documentary will be made about the issue and events which
              happened in the affected areas. This helps spread awareness about the problem among
              the general public. Then a regular update will be done on the website to give people all
              the necessary real, transparent information regarding the on-going issues. The localities
              will also be aware about the value and importance of social media, parallel to the ground
              level fight.
            </li>
            <li>
              The RTI wing of Guhaar will collect the data regarding the issue. In this way, reliable
information and data will be collected which can be utilised further.
            </li>
            <li>
              A letter writing wing will write letters to various officials to make them aware of the issues
concerned, present scenario of the locality and to share a model for a solution.
            </li>
            <li>
              The fact-finding team will coordinate with the local organisations and people to get
reliable information about the issue.
            </li>
            <li>
              A thorough assessment of the most popular and non-popular issues of the country will
be done and critical reviews, views of experts and reality of the situation will be
presented to people through our portal. Regular updates will also be given on our portal.
            </li>
          </ul>
          <br>
          <p>
            Guhaar partners with various local as well as national level organisations related
  to social movements and a group of socialists and activists who are not politically
  biased, so as to get realistic data that will help paint a true picture of the situation.
          </p>

          <h3>EXPOSURE</h3>
          <p>
Guhaar provides an opportunity to young and enthusiastic people,
          </p>
          <ul>
            <li>
              Who feel that the existing system needs improvement,
            </li>
            <li>
              Who are willing to work for the betterment of the society,
            </li>
            <li>
              Willing to change the conventional definition of government by asking questions and
helping it stay true to the principles of democracy and also to battle on behalf of those
unprivileged, helpless, downtrodden citizens of the India who cannot win their fight
alone.
            </li>
            <li>
              Along with creating the impact on the society, it is equally necessary to do value
              addition to oneself. In this space, the energetic youth will be provided an
              opportunity to be a part of the change process and to enhance oneself.Along with creating an impact on society, it is equally necessary to do value addition to
oneself. In this space, the energetic youth will be provided an opportunity to be a part of
the change process and to enhance oneself.
            </li>
            <li>
              By being in this space, one will get ample chances to work with the organisations and
  movements working at the grassroots level.
            </li>
            <!--<li>
              The experience one would get working in such organisations will be totally different.
            </li>-->
            <li>
              One will learn how to manage unorganized groups and also other traits such as,
              <ul>
                <li>
                  How to be disciplined
                </li>
                <li>
                  How to address the people
                </li>
                <li>
                  Managing events
                </li>
                <li>
                  Speaking to a variety of people ranging from rural people to renowned activists
and government officials,
                </li>
                <li>
                  How it feels working for a social cause
                </li>
                <li>
                  The ground realities and a chance to build the Incredible India of their dreams.
                </li>
              </ul>
            </li>
          </ul>
          <br>
          <p>
            Besides this, working with Guhaar also gives an enormous opportunity to have healthy
discussions on the problems our country is facing, understanding the power of
journalism and in understanding the impact of RTI. In nutshell, these days many of us
have a lot of anger towards the system and this space provides one of the ways to
channelize our anger in a way that can help bring meaningful changes in the society.
After all, if not us, then who?
          </p>
        </div>
        {% endfor %}
      </div>
    </body>
  {% endblock body %}

  {% block scripts %}
      <script src="{% static '/js/project.js'%}"></script>
  {% endblock scripts %}
</html>
