<!DOCTYPE html>
<html>
  {% extends "base.html" %}

  {% block body %}
  {% load cloudinary %}
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/team.min.css' %}" type="text/css">
  <script src="{% static '/js/project.js'%}"></script>

    <body>
      <div class="container team_body">
        <div class="text-center about_team">
          <h1>Who Are We</h1>
          {% for team in team %}
          <p>{{team.description | slice:":755"}}<a href=""> read more</a></p>
        </div>
        <div class="team_container text-center">
          <div>
            <h1>Meet The Team</h1>
            <p>{{team.short_description}}</p>
          </div>
          {% endfor %}
          <div>
            <div class="team">
              {% for member in members %}
              <div id="{{ member.pk }}" class="member" url="{{ member.image.url }}">
                <div>
                  {# <img src="{{ member.image.url }}" alt="{{ member.name }}">#}
                  {% cloudinary member.image width=270 height=300 crop=fill%}
                  <div class="name_header">
                    <div>
                      <h4><b>{{ member.name }}</b></h4>
                      <p>{{ member.short_description }}</p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="modal text-left">
              <div class="close_modal">
                <span>Close</span>
              </div>
              <div class="modal_details">
                <div>
                  <!--{% load static %}-->
                  <img width="300px">
                  <h2>Name</h2>
                  <p>short_descriptimodal_membermodal_memberon</p>
                </div>
                <div class="member_details">
                  <div>
                    <p>descripmodal_membe rmodal_mem descripmodal_membe rmodal_memdescripmodal_membe rmodal_memdescripmodal_membe rmodal_memdescripmodal_membe rmodal_memdescripmodal_membe rmodal_memdescripmodal_membe rmodal_memdescripmodal_membe rmodal_memdescripmodal_membe rmodal_memdescripmodal_membe rmodal_memdescripmodal_membe rmodal_mem</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  {% endblock body %}
</html>
