<!DOCTYPE html>
<html>
  {% extends 'base.html' %}
  {% block body %}
  {% load static %}
    <body>
        <div class="contact_us_form container">
          <h1 class="text-center">Send us what you have in mind</h1>
          <form  action="" method="post">

            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit" name="button">Submit</button>

    <!-- To display a message after submitting the message -->
            {% block scripts %}
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <script src="{% static '/js/notify.min.js'%}"></script>
            {% endblock scripts %}
            {% if messages %}
                {% for message in messages %}

                  <script type="text/javascript">
                    console.log("success");
                    $.notify("{{message}}", "{{message.tags}}");
                  </script>

                {% endfor %}
            {% endif %}
    <!-- To display a message after submitting the message -->

          </form>
        </div>

    </body>
  {% endblock body %}
</html>
