// @import url('https://fonts.googleapis.com/css?family=Alegreya|Roboto:500');
// @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900|Merriweather:400,400i,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:700,900|Roboto:100,400');
// font-family: 'Roboto', sans-serif;
// font-family: 'Raleway', sans-serif;


$yellow_background: 0.5*grey;
$white: #FFF;
$font_color: grey;
$navbar_background_color: #fff;
// $font_color: #CC5466
// $navbar_background_color: #252935;

$yellow: #ebba00;
$red: #be2433;
$white: #e0e6e4;
$black: #171928;
$gray: #a3acb1;
$orange: #d2691e;
$orange2: #ffa500;
//


// Main colors

$white: #fbfbfb;
$black: #000000;
$gray: #6a6a6a;
$yellow: #e3c420;
// $yellow: $white;
$red: $gray;

$margin_H1: 7em;

@mixin box-shadow-hover {
  cursor: pointer;
  transition: all 0.2s linear;
  box-shadow:0px 0px 10px -4px $black;
  &:hover{
    box-shadow:0px 0px 8px -5px $black;
    h1, h2, h3, h4, h5, h6{
      text-decoration: underline;
    }
  }
}

@mixin button-style {
  border: 0;
  border-radius: 4px;
  padding: 10px 20px;
  color: $white;
  background-color: $gray;
  @include box-shadow-hover;
}
//
