body {
  margin: auto;
  background-color: #FFF800; }

h1, h2, h3, h4, h5, h6, a {
  color: #828BCC; }

nav.navbar, footer {
  background-color: #252935;
  -webkit-border-radius: 0;
  -moz-border-radius: 0; }

.navbar-nav > li > a {
  line-height: 40px;
  font-size: 18px;
  -webkit-transition: 0.6s;
  transition: 0.6s; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #252935;
    color: #FFF800; }
