@import "base.scss";

.stories_container {
  padding-bottom: 20px;
  >:first-child{
    padding-bottom: 50px;
    margin: 7em auto 2em;
    border-bottom: solid 3px $red;
  }
  >:last-child{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    >div.recent_feed{
      flex: 1;
      iframe{
        margin: 20px auto;
      }
    }
  }
}
// stories
.stories{
  flex: 4;
  padding-right: 20px;
  flex-wrap: wrap;
  .object{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2%;
    background-color: $white;
    @include box-shadow-hover;
    &:hover{
      background-color: 1.03*$white;
    }
    &>div{
      flex: 1;
    }
    iframe, img{
      width: 100%;
      min-width: 350px;
      max-height: 250px;
    }
  }
  input{
    @include button-style;
  }
  .date_created{
    color: $gray*1.5;
    span{
      font-size: 16px;
    }
  }
}
.no_results{
  padding: 30px 0;
}
