@import "base.scss";

.stories_container {
  padding-bottom: 20px;
  >:first-child{
    padding-bottom: 100px;
    margin: 130px auto 20px;
    border-bottom: solid 3px $red;
  }
  >:last-child{
    display: flex;
    position: relative;
    >div.recent_feed{
      flex: 1;
      margin-left: 20px;
      >div{
        padding: 10px;
        margin-top: 20px;
        @include box-shadow-hover;
        background-color: $white;
      }
      >h4{
        text-align: center;
      }
    }
  }
}
// stories
.stories{
  flex: 3;
  padding-right: 20px;
  .object{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    // background-color: $gray;
    background-color: $white;
    @include box-shadow-hover;
    &:hover{
      background-color: 1.03*$white;
    }
    img{
      padding: 20px;
    }
    &>:first-child{
      margin-left: 40px;
      flex: 1;
    }
    iframe{
      width: 400px;
    }
  }
  input{
    @include button-style;
  }
}
.no_results{
  padding: 30px 0;
}
