@import "color.scss";

body{
	// background-color: $yellow_background;
	color: $font_color
}

div.about_team{
	display: flex;
	width: 60%;
	min-height: 40vh;
	flex-direction: column;
	justify-content: center;
}

div.team_container{
	display: flex;
	flex-direction: column;
	width: 90%;
	&>div:first-child{
		// float: left;
		border-bottom: 2px solid;
		padding: 20px 0;
		margin-bottom: 20px;
		// border-color: $font_color;
	}
	.member{
		// padding-top: 50px;
		display: inline-block;
		margin: 20px 40px;
		// border: 3px solid #FF3;
		border-radius: 10px;
		background-color: $navbar_background_color;
		transition: all .25s ease-out;
		img{
			width: 260px;
			height:260px;
			filter: grayscale(0);
			border-radius: 10px 10px 0 0;
      transition: all .5s ease-out;
		}
		// Hover effect on team members
		&:hover{
			cursor: pointer;
			transform: translateY(-15px);
			img{
        filter: grayscale(1);
      }
		}
		>div:last-child{
			padding-left: 15px;
			text-align: left;
		}
	}
}
