$yellow_background: #FFF800;
// $yellow_background: #FFF;
$font_color: #828BCC;
$navbar_background_color: #252935;

body{
  margin: auto;
  background-color: $yellow_background;
}
h1,h2,h3,h4,h5,h6,a{
  color: $font_color;
  // height: 3px;
}

// *******  Navigation Bar starts ******
nav.navbar, footer {
  background-color:$navbar_background_color;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.navbar-nav>li{
  &>a{
    line-height: 40px;
    font-size: 18px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    &:hover, &:focus{
      background-color: $navbar_background_color;
      color: $yellow_background;
    }
  }
}

// *******  Navigation Bar ends ******

