@import url('https://fonts.googleapis.com/css?family=Alegreya|Roboto:500');
$yellow_background: 0.5*grey;
$white: #FFF;
// $font_color: #CC5466
$font_color: grey;
// $navbar_background_color: #252935;
$navbar_background_color: #fff;
