@import "color.scss";

.projects_container>div:first-of-type{
  //  padding: 50px 0;
   margin: 130px auto 20px;
   border-bottom: 3px solid $red;
  //  border-color: $font_color;
   padding-bottom: 100px;
}
.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
  padding-bottom: 50px;
  position: relative;
  .project{
    position: relative;
    @include box-shadow-hover;
    img{
      width: 100%;
      height: 100%;
      filter: grayscale(1);
      border-radius: 10px 10px 0 0;
      transition: all .5s ease-out;
    }
    h4{
      font-size: 24px;
      position: absolute;
      letter-spacing: 2px;
      bottom: 0; left: 0; right: 0;
      text-transform: capitalize;
      text-shadow: 2px 2px 4px $black;
      // opacity: 0;
      // transition: opacity 0.5s linear;
    }
    &:hover{
      transform: translateY(-5px);
      h4{
        // opacity: 1;
      }
      img{
        filter: grayscale(0);
      }
    }
    .project_description{
      display: none;
    }
  }
}
