@import "color.scss";
.stories_container {
  >:first-child{
    display: flex;
  	// width: 60%;
  	min-height: 40vh;
  	flex-direction: column;
  	justify-content: center;
  }
  .story{
    display: flex;
    flex-direction: row;
    background-color: $navbar_background_color;
    // opacity: 0.5;
    border-radius: 10px;
    margin: 20px 0;
    // cursor: pointer;
    &>:last-child{
      margin-left: 60px;
    }
  }
}
