<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% block body %}
  {% load static %}
  {% load cloudinary %}
  <link rel="stylesheet" href="{% static '/css/projects.min.css'%}">
    <body>
      <div class="projects_container container text-center">
        <div class="text-center">
          <h1>Interviews</h1>
        <!--  <p>Guhaar is working with various local organisations, national level organisations related to movements and a bunch of socialists and activists, which are not politically biased, so to get the reliable data and the real picture of the situation. The aim is to bring in light many more important issues in future. To make it successful and to increase the outreach of these issues which is not being covered by mainstream media the support of today's youth is needed. Share awareness.</p>-->
          </div>
        <div class="projects">
            {% for obj in data %}
            {% csrf_token %}
            <div class="project" id ="{{ interview.pk }}" object-type = "interviews">
              {# <img src="{{ project.image.url }}" alt="{{project.title}}">#}
              {% if obj.url %}
                <!--<iframe id="player" type="text/html" width="300px" height="220px" src="{{ obj.url }}" frameborder="0"></iframe>-->
                  {{ obj.url|safe }}
              {% endif %}
              <div class="project_details object_details">
                {# <a href="{% url 'project_details' obj.pk %}"> #}
                <a href="{% url 'content_details' obj.project.pk obj.obj_type obj.pk %}" >
                  <h4>{{ obj.title |slice:":70" }}</h4>
                </a>
                <span>{{ obj.date_started }}</span>
              </div>
            </div>
            {% endfor %}
          </div>
          <!--Paginator STARTS-->
                <div class="pagination">
                    <span class="step-links">
                        {% if data.has_previous %}
                            <a href="?page={{ data.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ data.number }} of {{ data.paginator.num_pages }}.
                        </span>

                        {% if data.has_next %}
                            <a href="?page={{ data.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
          <!--Paginator ENDS-->
        </div>
    </body>
  {% endblock body %}
  {% block scripts %}
  <script src="{% static '/js/project.js'%}"></script>
  {% endblock scripts %}
</html>
