<!DOCTYPE html>
<html>
  {% extends "base.html" %}
  {% block body %}
  {% load static %}
  {% load cloudinary %}
  <link rel="stylesheet" href="{% static '/css/projects.min.css'%}">
  {# <link rel="stylesheet" href="{% static '/css/team.min.css'%}">#}
    <body>
      <div class="projects_container container text-center">
        <div class="text-center">
          <h1>Projects</h1>
          <p>Guhaar is working with various local organisations, national level organisations related to movements and a bunch of socialists and activists, which are not politically biased, so to get the reliable data and the real picture of the situation.
The aim is to bring in light many more important issues in future. To make it successful and to increase the outreach of these issues which is not being covered by mainstream media the support of today's youth is needed. Share awareness.</p>
          </div>
        <div class="projects objects">
            {% for project in projects %}
            {% csrf_token %}
            <!--<div class="project text-center" id ="{{ project.pk }}">
                <img src="{{ project.image.url }}" alt="{{project.title}}">
                <h4>{{ project.title }}</h4>
            </div>-->
            <div class="project object" id ="{{ project.pk }}" object-type = "projects">
              {# <img src="{{ project.image.url }}" alt="{{project.title}}">#}
              {% cloudinary project.image height=200 crop='fill'%}
              <div class="project_details object_details">
                <h4>{{ project.title }}</h4>
                <span>{{ project.date_started }}</span>
                <p>{{ project.description | slice:":20" }}</p>
              </div>
              {# <h5>Related to this project</h5> #}
              <div class="project_related_content">
                <!--<div id="stories">
                  <a href="{% url 'project_stories' project.pk %}">
                    <h1>Articles</h1>
                  </a>
                </div>
                <div id="videos">
                  <a href="{% url 'project_videos' project.pk %}">
                    <h1>Videos</h1>
                  </a>
                </div>
                <div id="interviews">
                  <a href="{% url 'project_interviews' project.pk %}">
                    <h1>Interviews</h1>
                  </a>
                </div>-->
                <div id="project_content">
                  <a href="{% url 'project_content' project.pk %}">
                    <span>Browse more</span>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="modal container text-center">
              <div class="close_modal">
                <span>Close</span>
              </div>
              <div>
                <div class="modal_details">
                  {# {% load static %}#}
                  <!--refrence Project.js-->
                  <!--<img src="{%static 'images/guhaar.jpg'%}" width="300px">-->
                  <div>
                    <img src = "">
                  </div>
                  <div class="">
                    <h2>Project name</h2>
                    {# <span>project short_descriptimodal_membermodal_memberon</span>#}
                    <p>descripmod</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
  {% endblock body %}
  {% block scripts %}
  <script src="{% static '/js/project.js'%}"></script>
  {% endblock scripts %}
</html>
