<!DOCTYPE html>
<html>
<title>Guhaar</title>
<link rel="shortcut icon" href="../../static/images/favicon.ico" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="guhaar.com, guhaar, guhaar delhi, narmda bachao andolan, nba" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% load static %}
<link rel="stylesheet" href="{% static '/css/master.min.css' %}" type="text/css">
  {% block head %}
    <head>
    </head>
  {% endblock head %}
  <body>
    <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home_view' %}"><img src="{% static '/images/favicon.ico' %}" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'home_view' %}">Home</a></li>
              <li><a href="{% url 'projects_view' %}">Projects</a></li>
              <li><a href="{% url 'stories_view' %}">Stories</a></li>
              <li><a href="{% url 'aboutus_view' %}">About Us</a></li>
              <li><a href="{% url 'contactus_view' %}">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://www.facebook.com/guhaar/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/guhaarindia/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/guhaarindia/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC23pDSpsYQmK1K0JPYMIEkg" target="_blank"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
    </nav>
   </body>
  {% block body %}
    <body>
    </body>
  {% endblock body %}
  <footer class="text-center">
    <span>&copy; {% now "Y" %}. All Rights Reserved</span><br>
    <span>Guhaar</span>
  </footer>
</html>
